<form class="" action="login" method="get">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In">
</form>


<% if flash[:notice] %>
    <p> <%= flash[:notice] %> </p>
<% end %>
